header {
    background-color: #02787C;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    width: 80px;
    height: 80px;
    margin-right: 2.5em;
}

.header-title h1 {
    margin: 0;
    font-size: 1.5em;
    line-height: 1.2;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .dropdown-menu {
    background-color: #008080;
}

.navbar-dark .navbar-nav .dropdown-menu a {
    color: white;
}

.image-placeholder {
    width: 100%;
    height: 150px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #333;
}
/* Sección de Cuentas */
.cuentas-section {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

/* Paginación */
.pagination {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.pagination button {
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: white;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #f0f0f0;
}

.pagination button.active {
    background-color: #008080;
    color: white;
}
.dropdown-item:hover {
    background-color: #02787C !important;
}

.form-section {
    margin-top: 20px;
}
.form-section h2 {
    color: #008080;
    text-align: center;
    margin-bottom: 30px;
}
.add-row-btn {
    background-color: #008080;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}
.add-row-btn:hover {
    background-color: #005757;
}

.descripcion-textarea {
    resize: none;
}
.card img {
    max-height: 150px;
    object-fit: cover;
}
.section-title {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #008080;
}

.sidebar {
    background-color: #02787C;
    color: #f0f0f0;
    border-right: 1px solid #ddd;
    padding: 15px;
}
.videos iframe {
    width: 100%;
    height: 200px;
}